* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-inline: auto;
    height: 100vh;
}

.section-selection a {
    font-size: 45px;
    font-weight: 500;
    margin-right:auto;
    border: none;
    text-decoration: none !important;
    color: black !important;
    margin-inline: auto;

 /* Changed margin to use shorthand for better compatibility */
}

.section-selection::after {
    content: "";
    width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 0%;
    bottom: 0;
    transform: translateX(-50%);
}
.main-homePage{
    width: 80%;
    margin:5% auto;
}
.main-homePage h1{
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 700;
}
.main-homePage p{
    font-size: 25px;
}
.button-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 40px;
    
}

.button-group a{
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none !important;
}
.button-group a:visited {
    color: white; /* Change color of visited links to white */
}
.card {
    height: 330px;
    width: 100%; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 300px;
    display: block;
}

.card-text {
     /* Semi-transparent background */
    color: black;
    padding: 15px;
    box-sizing: border-box;
    font-weight: bold;
    height:200px;
    /* Include padding in width */
}


.btn-sections{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.btn-sections .col-lg-3{
    margin-inline: auto;
}
.circle {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
  }
  
  .text {
    color: white;
    font-size: 14px;
    margin-top: 5px;
  }
  .col-lg-3 button{
    border: none;
    background-color: transparent;
    margin-inline: auto;
  }
  .back-to-top-button{
    border: none;
    background-color: transparent;
    margin-inline: auto;
    display: flex;
    justify-content: center;
  }
  .card-text h4 {
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
}

.card-text p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
}
a{
    text-decoration: none;
}
.card-section a{
    text-decoration: none !important;
}
  @media screen and (max-width: 992px) {
    /* Add your styles for smaller screens here */
    .button-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
    }
    .card {
        height: 330px;
        width: 100%; /* Adjust width as needed */
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 40px;
    }
    .section-selection a {
        margin-right: 0; /* Reset margin for small screens */
        margin-left: 0; /* Reset margin for small screens */
    }

    .section-selection a {
        background-color: transparent !important;
        font-size: 25px;
        font-weight: 500;
        margin-right:auto;
        border: none;
        margin-inline: auto;
    
     /* Changed margin to use shorthand for better compatibility */
    }
}



